@charset "UTF-8";
body {
   font-family: Arial, sans-serif;
   background: #ececec;
   color: #515151;
}
main {
   display: block;
   width: 1000px;
   margin: 0 auto;
   line-height: 2em;
   color: #fff;
}
h1 {
   text-align: center;
   font-size: 4.5em;
   font-weight: normal;
   margin: 80px 0;
   color: #47475a;
}
dt {
   float: left;
}
dd {
   float: left;
   width: 800px;
   height: 350px;
   overflow: hidden;
}
dt a {
   text-align: center;
   display: block;
   padding: 20px 0;
   width: 50px;
   height: 110px;
   color: #fff;
   text-decoration: none;
}
dt a:hover {
   background: #da7354;
}
dd p {
   padding: 20px;
   width: 740px;
}
/* #acc1の背景色 */
dt:nth-of-type(1),
dd:nth-of-type(1) {
   background: #47475a;
}
/* #acc2の背景色 */
dt:nth-of-type(2),
dd:nth-of-type(2) {
   background: #55556b;
}
/* #acc3の背景色 */
dt:nth-of-type(3),
dd:nth-of-type(3) {
   background: #636375;
}
/* #acc4の背景色 */
dt:nth-of-type(4),
dd:nth-of-type(4) {
   background: #767686;
}

